<?xml version="1.0" ?>
<config>
    <modules>
        <Stephen_Hideprice>
            <version>0.1</version>
        </Stephen_Hideprice>
    </modules>
    <global>
        <models>
            <stephen_hideprice>
                <class>Stephen_Hideprice_Model</class>
            </stephen_hideprice>
        </models>
        <blocks>
            <stephen_hideprice>
                <class>Stephen_Hideprice_Block</class>
            </stephen_hideprice>
            <catalog>
                <rewrite>
                    <product_widget_new>Stephen_Hideprice_Block_Product_Widget_New</product_widget_new>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <template_links>Stephen_Hideprice_Block_Template_Links</template_links>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <stephen_hideprice>
                <class>Stephen_Hideprice_Helper</class>
            </stephen_hideprice>
            <core>
                <rewrite>
                    <data>Stephen_Hideprice_Helper_Data</data>
                </rewrite>
            </core>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <stephen_hideprice_layout module="Stephen_Hideprice">
                    <file>stephen_hideprice.xml</file>
                </stephen_hideprice_layout>
            </updates>
        </layout>
    </frontend>

</config>
